/* цвет ооновного текста */
 #212121

/* цвет вторинного текста */
#757575

/* акцент */
#2196F3

/* белый */

#FFFFFF



:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    

}

.logo {

}
.site-nav {

}

